.animetitle[href*="/25132/"]:before{ /*Akame ga Kill!*/
content: "Monthly Chapter; 21st";
font-size: 10.5px !important;
}
.animetitle[href*="/86337/"]:before{ /*Black Clover */
content: "Weekly Chapter; Sunday";
font-size: 10.5px !important;
}
.animetitle[href*="/89734/"]:before{ /*Dragon Ball Super*/
content: "Monthly Chapter; 20th";
font-size: 10.5px !important;
}
.animetitle[href*="/669/"]:before{ /*Highschool of the Dead*/
content: "Monthly Chapter; 8th";
font-size: 10.5px !important;
}
.animetitle[href*="/26/"]:before{ /*Hunter x Hunter*/
content: "Weekly Chapter; Sunday";
font-size: 10.5px !important;
}
.animetitle[href*="/14790/"]:before{ /*Magi: The Labyrinth of Magic*/
content: "Weekly Chapter; Tuesday";
font-size: 10.5px !important;
}
.animetitle[href*="/36213/"]:before{ /*Monster Musume: Everyday Life With Monster Girls*/
content: "Monthly Chapter; 18th";
font-size: 10.5px !important;
}
.animetitle[href*="/44485/"]:before{ /*The Seven Deadly Sins*/
content: "Weekly Chapter; Tuesday";
font-size: 10.5px !important;
}
.animetitle[href*="/81681/"]:before{ /*Plunderer*/
content: "Monthly Chapter; 25th";
font-size: 10.5px !important;
}
.animetitle[href*="/873/"]:before{ /*Sekirei / Friday*/
content: "Semi-Monthly Chapter; 1st & 3rd Friday";
font-size: 10.5px !important;
}
.animetitle[href*="/23390/"]:before{ /*Attack on Titan*/
content: "Monthly Chapter; 8th";
font-size: 10.5px !important;
}
.animetitle[href*="/21479/"]:before{ /*Sword Art Online*/
content: "Average 2-3 Vol. yearly release";
font-size: 10.5px !important;
}
.animetitle[href*="/33327/"]:before{ /*Tokyo Ghoul*/
content: "Weekly Chapter; Wednesday";
font-size: 10.5px !important;
}
.animetitle[href*="/19007/"]:before{ /*B Type H Style*/
content: "Weekly Chapter; Wednesday";
font-size: 10.5px !important;
}
.animetitle[href*="/35573/"]:before{ /*Orange*/
content: "Monthly Chapter; 24th";
font-size: 10.5px !important;
}
.animetitle[href*="/8144/"]:before{ /*Heaven’s Lost Property*/
content: "Monthly Chapter; 25th";
font-size: 10.5px !important;
}
.animetitle[href*="/24/"]:before{ /*D.Gray-man*/
content: "Quarterly Chapter (Jan, Apr, Jul, Oct); 17th";
font-size: 9.2px !important;
}
.animetitle[href*="/49865/"]:before{ /*Ajin: Demi-Human*/
content: "Bi-monthly Chapter; 6th";
font-size: 10.5px !important;
}
.animetitle[href*="/52267/"]:before{ /*Akuma no Riddle: riddle story of devil (JA: 10th) */
content: "Monthly Chapter; 9th";
font-size: 10.5px !important;
}
.animetitle[href*="/1101/"]:before{ /*Akumetsu*/
content: "Weekly Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="/39883/"]:before{ /*Assassination Classroom*/
content: "Weekly Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="/24294/"]:before{ /*Blue Spring Ride*/
content: "Monthly Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="/13492/"]:before{ /*Blue Exorcist*/
content: "Monthly Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="/19555/"]:before{ /*See Me After Class*/
content: "Monthly Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="/17051/"]:before{ /*Barakamon*/
content: "Monthly Chapter; Around 15-30th";
font-size: 10.5px !important;
}
.animetitle[href*="/2/"]:before{ /*Berserk (JA: Bi-weekly Chapter; 2nd & 4th Friday = OLD,)*/
content: "Monthly Chapter; 4th Thursday";
font-size: 10.5px !important;
}
.animetitle[href*="/747/"]:before{ /*Blood+*/
content: "Monthly Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="/7627/"]:before{ /*Dance in the Vampire Bund*/
content: "Monthly Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="/78943/"]:before{ /*Dead Tube*/
content: "Monthly Chapter; 18th";
font-size: 10.5px !important;
}
.animetitle[href*="/21/"]:before{ /*Death Note*/
content: "Weekly Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="/70391/"]:before{ /*Deathtopia*/
content: "Bi-weekly Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="/70941/"]:before{ /*Domestic na Kanojo*/
content: "Weekly Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="/933/"]:before{ /*Elfen Lied*/
content: "Weekly Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="/88110/"]:before{ /*Fate/stay night: Heaven's Feel*/
content: "Monthly Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="/25/"]:before{ /*Fullmetal Alchemist*/
content: "Monthly Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="/158/"]:before{ /*Ghost Hunt*/
content: "Monthly Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="/65319/"]:before{ /*Girl May Kill*/
content: "Monthly Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="/34377/"]:before{ /*Brynhildr in the Darkness*/
content: "Weekly Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="/65647/"]:before{ /*Green Worldz*/
content: "Weekly Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="/36723/"]:before{ /*The Devil Is A Part-timer*/
content: "Monthly Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="/32097/"]:before{ /*Chaika: The Coffin Princess*/
content: "Monthly Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="/15035/"]:before{ /*Isuca*/
content: "Monthly Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="/12336/"]:before{ /*Maria the Virgin Witch*/
content: "Bi-monthly Chapter; 6th";
font-size: 10.5px !important;
}
.animetitle[href*="/24561/"]:before{ /*Kamisama no Iutoori*/
content: "Monthly Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="/12994/"]:before{ /*Blood Blockade Battlefront*/
content: "Quarterly Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="/401/"]:before{ /*Parasyte*/
content: "Monthly Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="/77993/"]:before{ /*Kono Shima ni wa Midara de Jaaku na Mono ga Sumu*/
content: "Monthly Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="/3866/"]:before{ /*Black Butler*/
content: "Monthly Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="/40175/"]:before{ /*Magical Girl Apocalypse*/
content: "Monthly Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="/26441/"]:before{ /*MAOYU: Archenemy and Hero "Become mine, Hero" "I refuse!"*/
content: "Monthly Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="/21097/"]:before{ /*Engaged to the Unidentified*/
content: "Monthly Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="/584/"]:before{ /*Future Diary*/
content: "Monthly Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="/24692/"]:before{ /*Noragami: Stray God*/
content: "Monthly Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="/30/"]:before{ /*Ouran High School Host Club*/
content: "Monthly Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="/43661/"]:before{ /*Seraph of the End: Vampire Reign*/
content: "Monthly Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="/65685/"]:before{ /*Real Account*/
content: "Weekly Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="/61307/"]:before{ /*Invaders of the Rokujouma!?*/
content: "Average 3-4 Vol. yearly release";
font-size: 10.5px !important;
}
.animetitle[href*="/894/"]:before{ /*Rosario+Vampire*/
content: "Monthly Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="/3403/"]:before{ /*Rosario to Vampire: Season II*/
content: "Monthly Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="/26589/"]:before{ /*Dragonar Academy*/
content: "Monthly Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="/43509/"]:before{ /*Blade Dance of the Elementalers / Seirei Tsukai no Blade Dance*/
content: "Monthly Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="/57795/"]:before{ /*Attack on Titan: Before the Fall*/
content: "Monthly Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="/58007/"]:before{ /*Attack on Titan: No Regrets*/
content: "Monthly Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="/51755/"]:before{ /*The Testament of Sister New Devil*/
content: "Monthly Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="/18619/"]:before{ /*Tokyo ESP*/
content: "Monthly Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="/7887/"]:before{ /*Toriko*/
content: "Weekly Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="/14018/"]:before{ /*Triage X*/
content: "Monthly Chapter; 8th";
font-size: 10.5px !important;
}
.animetitle[href*="/24822/"]:before{ /*Trinity Seven: The Seven Magicians*/
content: "Monthly Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="/35003/"]:before{ /*Yamada-kun and the Seven Witches*/
content: "Weekly Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="/57239/"]:before{ /*Is It Wrong to Try to Pick Up Girls in a Dungeon?*/
content: "Bi-weekly Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="/91731/"]:before{ /*Smokin' Parade*/
content: "Monthly Chapter; 25th";
font-size: 10.5px !important;
}
.animetitle[href*="/91037/"]:before{ /*Fire Brigade of Flames*/
content: "Weekly Chapter; Tuesday";
font-size: 10.5px !important;
}
.animetitle[href*="/81117/"]:before{ /*Tokyo Ghoul:re*/
content: "Weekly Chapter; Wednesday";
font-size: 10.5px !important;
}
.animetitle[href*="/93180/"]:before{ /*Platinum End*/
content: "Monthly Chapter; 3th";
font-size: 10.5px !important;
}
.animetitle[href*="/75989/"]:before{ /*My Hero Academia*/
content: "Weekly Chapter; Sunday";
font-size: 10.5px !important;
}
.animetitle[href*="/44347/"]:before{ /*One-Punch Man*/
content: "No Determinable Publication Frequency";
font-size: 10.5px !important;
}
.animetitle[href*="/45597/"]:before{ /*Black Bullet*/
content: "Vol. 3 English Release; April 19, 2016";
font-size: 10.5px !important;
}
.animetitle[href*="/25297/"]:before{ /*Prison School*/
content: "Weekly Chapter; Sunday";
font-size: 10.5px !important;
}
.animetitle[href*="/671/"]:before{ /*To LOVE-Ru*/
content: "Weekly Chapter; Sunday";
font-size: 10.5px !important;
}
.animetitle[href*="/68273/"]:before{ /*The Testament of Sister New Devil Arashi (Another Side Story)*/
content: "Monthly Chapter; 1st Friday";
font-size: 10.5px !important;
}
.animetitle[href*="/39325/"]:before{ /*Erased*/
content: "Monthly Chapter; 3rd";
font-size: 10.5px !important;
}
.animetitle[href*="/94896/"]:before{ /*Infection*/
content: "Weekly Chapter; Tuesday";
font-size: 10.5px !important;
}
.animetitle[href*="/98270/"]:before{ /*Fire Punch*/
content: "Weekly Chapter; Sunday";
font-size: 10.5px !important;
}
.animetitle[href*="/45275/"]:before{ /*Girls of the Wild's / Sat*/
content: "Weekly Chapter; Friday";
font-size: 10.5px !important;
}
.animetitle[href*="/91656/"]:before{ /*Gun-Ota / When a Gun Nerd Is Reincarnated to a World of Magic, He Established a Harem army with Modern Weapons!?*/
content: "Monthly Chapter; 8th";
font-size: 10.5px !important;
}
.animetitle[href*="/89737/"]:before{ /*How to Build a Dungeon: Book of the Demon King*/
content: "Monthly Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="/89594/"]:before{ /*A classmate is a princess knight!*/
content: "Bi-monthly Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="/96582/"]:before{ /*Yuuna of Yuragi Manor / Yuragisou no Yuuna-san*/
content: "Weekly Chapter; Sunday";
font-size: 10.5px !important;
}
.animetitle[href*="/97071/"]:before{ /*Millennium War Aigis: Bonds of the Hero*/
content: "Monthly Chapter; 26th";
font-size: 10.5px !important;
}
.animetitle[href*="/98752/"]:before{ /*World's End Harem*/
content: "Bi-weekly Chapter; Saturday";
font-size: 10.5px !important;
}
.animetitle[href*="/22519/"]:before{ /*To Love Ru Darkness*/
content: "Monthly Chapter; 3th";
font-size: 10.5px !important;
}
.animetitle[href*="/49361/"]:before{ /*Dragons Rioting*/
content: "Monthly Chapter; 8th";
font-size: 10.5px !important;
}
.animetitle[href*="/12114/"]:before{ /*El El / Each Thursday*/
content: "Weekly Chapter; Wednesday";
font-size: 10.5px !important;
}
.animetitle[href*="/14582/"]:before{ /*Gamaran*/
content: "Weekly Chapter; Tuesday";
font-size: 10.5px !important;
}
.animetitle[href*="/45996/"]:before{ /*Hunter x Hunter: Kurapika Memories*/
content: "Weekly Chapter; Sunday";
font-size: 10.5px !important;
}
.animetitle[href*="/92377/"]:before{ /*Akame ga Kill! Volume 1.5*/
content: "Side Story Chapters; No Serialization";
font-size: 10.5px !important;
}
.animetitle[href*="/16815/"]:before{ /*Itsuwaribito / Club Sunday*/
content: "Weekly Chapter; Sunday";
font-size: 10.5px !important;
}
.animetitle[href*="/8483/"]:before{ /*A Town Where You Live (Kimi no Iru Machi)*/
content: "Weekly Chapter; Tuesday";
font-size: 10.5px !important;
}
.animetitle[href*="/763/"]:before{ /*Lilim Kiss*/
content: "Weekly Chapter; Sunday";
font-size: 10.5px !important;
}
.animetitle[href*="/40175/"]:before{ /*Magical Girl Apocalypse / 12th of the month*/
content: "Monthly Chapter; 11th";
font-size: 10.5px !important;
}
.animetitle[href*="/13290/"]:before{ /*No Longer Human*/
content: "Monthly Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="/12985/"]:before{ /*Princess Lucia / 30th of the month*/
content: "Monthly Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="/22986/"]:before{ /*Gray And Wonder Around Her / Year 10 times published = NO JAN AND SEPT?!?!?!*/
content: "Bi-Monthly → Monthly Chapter; 15th";
font-size: 10.5px !important;
}
.animetitle[href*="/15189/"]:before{ /*Seishun Pop! / Monday / Bi-Monthly → Monthly Chapter*/
content: "Bi-Monthly → Monthly Chapter; 3rd Monday";
font-size: 10.5px !important;
}
.animetitle[href*="/29931/"]:before{ /*Uwa-Koi / 16th*/
content: "Monthly Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="/38071/"]:before{ /*Spirit Circle 30th*/
content: "Monthly Chapter; 29th";
font-size: 10.5px !important;
}
.animetitle[href*="/656/"]:before{ /*Vagabond / Thursday /*/
content: "Weekly Chapter; Wednesday";
font-size: 10.5px !important;
}
.animetitle[href*="/48151/"]:before{ /*World Trigger*/
content: "Weekly Chapter; Sunday";
font-size: 10.5px !important;
}
.animetitle[href*="/35003/"]:before{ /*Yamada-kun and the Seven Witches*/
content: "Weekly Chapter; Tuesday";
font-size: 10.5px !important;
}
.animetitle[href*="/67121/"]:before{ /*King's Game Origin*/
content: "Monthly Chapter; 24th";
font-size: 10.5px !important;
}
.animetitle[href*="/100128/"]:before{ /*The Promised Neverland*/
content: "Weekly Chapter; Sunday";
font-size: 10.5px !important;
}
.animetitle[href*="/99982/"]:before{ /*Sahara the Flower Samurai // 20th*/
content: "Monthly Chapter; 19th";
font-size: 10.5px !important;
}
.animetitle[href*="/100708/"]:before{ /*Love Rush*/
content: "Weekly Chapter; Sunday";
font-size: 10.5px !important;
}
.animetitle[href*="/100876/"]:before{ /*Red Sprite*/
content: "Weekly Chapter; Sunday";
font-size: 10.5px !important;
}
.animetitle[href*="/102652/"]:before{ /*Demon's Plan*/
content: "Weekly Chapter; Sunday";
font-size: 10.5px !important;
}
.animetitle[href*="/96792/"]:before{ /*Kimetsu no Yaiba*/
content: "Weekly Chapter; Sunday";
font-size: 10.5px !important;
}
.animetitle[href*="/98720/"]:before{ /*Goblin Slayer / 25th*/
content: "Monthly Chapter; 24th";
font-size: 10.5px !important;
}
.animetitle[href*="/102343/"]:before{ /*To You, the Immortal*/
content: "Weekly Chapter; Tuesday";
font-size: 10.5px !important;
}
.animetitle[href*="//"]:before{ /**/
content: " Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="//"]:before{ /**/
content: " Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="//"]:before{ /**/
content: " Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="//"]:before{ /**/
content: " Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="//"]:before{ /**/
content: " Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="//"]:before{ /**/
content: " Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="//"]:before{ /**/
content: " Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="//"]:before{ /**/
content: " Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="//"]:before{ /**/
content: " Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="//"]:before{ /**/
content: " Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="//"]:before{ /**/
content: " Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="//"]:before{ /**/
content: " Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="//"]:before{ /**/
content: " Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="//"]:before{ /**/
content: " Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="//"]:before{ /**/
content: " Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="//"]:before{ /**/
content: " Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="//"]:before{ /**/
content: " Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="//"]:before{ /**/
content: " Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="//"]:before{ /**/
content: " Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="//"]:before{ /**/
content: " Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="//"]:before{ /**/
content: " Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="//"]:before{ /**/
content: " Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="//"]:before{ /**/
content: " Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="//"]:before{ /**/
content: " Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="//"]:before{ /**/
content: " Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="//"]:before{ /**/
content: " Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="//"]:before{ /**/
content: " Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="//"]:before{ /**/
content: " Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="//"]:before{ /**/
content: " Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="//"]:before{ /**/
content: " Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="//"]:before{ /**/
content: " Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="//"]:before{ /**/
content: " Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="//"]:before{ /**/
content: " Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="//"]:before{ /**/
content: " Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="//"]:before{ /**/
content: " Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="//"]:before{ /**/
content: " Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="//"]:before{ /**/
content: " Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="//"]:before{ /**/
content: " Chapter";
font-size: 10.5px !important;
}
.animetitle[href*="//"]:before{ /**/
content: " Chapter";
font-size: 10.5px !important;
}
