.animetitle[href*="/29809/"]:after {background-image:url(http://i.imgur.com/XOfuyEA.jpg);}
.animetitle[href*="/34823/"]:after {background-image:url(http://i.imgur.com/BROPXJv.jpg);}
.animetitle[href*="/21001/"]:after {background-image:url(http://i.imgur.com/1nTxFV0.jpg);}
.animetitle[href*="/29573/"]:after {background-image:url(http://i.imgur.com/XvAMEnj.jpg);}
.animetitle[href*="/29807/"]:after {background-image:url(http://i.imgur.com/cAqt6AW.jpg);}
.animetitle[href*="/29703/"]:after {background-image:url(http://i.imgur.com/vjWsvhe.jpg);}
.animetitle[href*="/29916/"]:after {background-image:url(http://i.imgur.com/0JY69cE.jpg);}
.animetitle[href*="/23247/"]:after {background-image:url(http://i.imgur.com/I20u3aT.jpg);}
.animetitle[href*="/29085/"]:after {background-image:url(http://i.imgur.com/7uMCGNC.jpg);}
.animetitle[href*="/29808/"]:after {background-image:url(http://i.imgur.com/7T92PpU.jpg);}
.animetitle[href*="/29083/"]:after {background-image:url(http://i.imgur.com/rrGjeD8.jpg);}
.animetitle[href*="/24327/"]:after {background-image:url(http://i.imgur.com/qyLkUTa.jpg);}
.animetitle[href*="/29575/"]:after {background-image:url(http://i.imgur.com/dcN4U5z.jpg);}
.animetitle[href*="/25345/"]:after {background-image:url(http://i.imgur.com/WyXEw9n.jpg);} /*Rance 01*/
.animetitle[href*="/5762/"]:after {background-image:url(http://i.imgur.com/120HWKQ.jpg);}
.animetitle[href*="/9721/"]:after {background-image:url(http://i.imgur.com/JECsqNn.jpg);}
.animetitle[href*="/21363/"]:after {background-image:url(http://i.imgur.com/aB59xMc.jpg);}
.animetitle[href*="/30128/"]:after {background-image:url(http://i.imgur.com/eKE3adB.jpg);}
.animetitle[href*="/24641/"]:after {background-image:url(http://i.imgur.com/Fz6ukJU.jpg);}
.animetitle[href*="/10553/"]:after {background-image:url(http://i.imgur.com/kY3EfWP.jpg);}
.animetitle[href*="/21925/"]:after {background-image:url(http://i.imgur.com/fYareRK.jpg);}
.animetitle[href*="/2841/"]:after {background-image:url(http://i.imgur.com/rsH8Tkb.jpg);}
.animetitle[href*="/3970/"]:after {background-image:url(http://i.imgur.com/1F5xOyv.jpg);}
.animetitle[href*="/13217/"]:after {background-image:url(http://i.imgur.com/W4hnhYt.jpg);}
.animetitle[href*="/10779/"]:after {background-image:url(http://i.imgur.com/jLo974I.jpg);}
.animetitle[href*="/5315/"]:after {background-image:url(http://i.imgur.com/0Rmbzjd.jpg);}
.animetitle[href*="/8110/"]:after {background-image:url(http://i.imgur.com/KOgURns.jpg);}
.animetitle[href*="/2798/"]:after {background-image:url(http://i.imgur.com/RWNOyeB.jpg);}
.animetitle[href*="/5097/"]:after {background-image:url(http://i.imgur.com/vrjHz2V.jpg);}
.animetitle[href*="/27603/"]:after {background-image:url(http://i.imgur.com/tX1MONe.jpg);}
.animetitle[href*="/19857/"]:after {background-image:url(http://i.imgur.com/CFVtS5R.jpg);}
.animetitle[href*="/28313/"]:after {background-image:url(http://i.imgur.com/aObU4MD.jpg);}
.animetitle[href*="/9311/"]:after {background-image:url(http://i.imgur.com/SOcpqGC.jpg);}
.animetitle[href*="/15843/"]:after {background-image:url(http://i.imgur.com/BEygxQY.jpg);}
.animetitle[href*="/17541/"]:after {background-image:url(http://i.imgur.com/vjbeM1j.jpg);}
.animetitle[href*="/18455/"]:after {background-image:url(http://i.imgur.com/mIxkidx.jpg);}
.animetitle[href*="/3771/"]:after {background-image:url(http://i.imgur.com/EK2DSPy.jpg);}
.animetitle[href*="/17157/"]:after {background-image:url(http://i.imgur.com/iNjcCQB.jpg);}
.animetitle[href*="/8291/"]:after {background-image:url(http://i.imgur.com/OFrFQGn.jpg);}
.animetitle[href*="/10668/"]:after {background-image:url(http://i.imgur.com/NnoAYio.jpg);}
.animetitle[href*="/18655/"]:after {background-image:url(http://i.imgur.com/rzRyy9L.jpg);}
.animetitle[href*="/23665/"]:after {background-image:url(http://i.imgur.com/7T5oHvE.jpg);}
.animetitle[href*="/28859/"]:after {background-image:url(http://i.imgur.com/UMeRzsy.jpg);}
.animetitle[href*="/22429/"]:after {background-image:url(http://i.imgur.com/iSibaaI.jpg);}
.animetitle[href*="/23305/"]:after {background-image:url(http://i.imgur.com/XiNXY8U.jpg);}
.animetitle[href*="/11349/"]:after {background-image:url(http://i.imgur.com/xRMALQc.jpg);}
.animetitle[href*="/16474/"]:after {background-image:url(http://i.imgur.com/ABnZaJd.jpg);}
.animetitle[href*="/24377/"]:after {background-image:url(http://i.imgur.com/5hgTZf2.jpg);}
.animetitle[href*="/23047/"]:after {background-image:url(http://i.imgur.com/aUwKrra.jpg);}
.animetitle[href*="/15097/"]:after {background-image:url(http://i.imgur.com/qwHXSST.jpg);}
.animetitle[href*="/15867/"]:after {background-image:url(http://i.imgur.com/cg2vqdq.jpg);}
.animetitle[href*="/12375/"]:after {background-image:url(http://i.imgur.com/WizjQDO.jpg);}
.animetitle[href*="/30770/"]:after {background-image:url(http://i.imgur.com/Ijkn63l.jpg);}
.animetitle[href*="/28157/"]:after {background-image:url(http://i.imgur.com/uTz80lO.jpg);}
.animetitle[href*="/24021/"]:after {background-image:url(http://i.imgur.com/hLaOB5s.jpg);}
.animetitle[href*="/25667/"]:after {background-image:url(http://i.imgur.com/UAqxMXX.jpg);}
.animetitle[href*="/31118/"]:after {background-image:url(http://i.imgur.com/nSsMjed.jpg);}
.animetitle[href*="/21829/"]:after {background-image:url(http://i.imgur.com/4ABQbrd.jpg);}
.animetitle[href*="/17491/"]:after {background-image:url(http://i.imgur.com/bmdjtig.jpg);}
.animetitle[href*="/10419/"]:after {background-image:url(http://i.imgur.com/v5dKDtx.jpg);}
.animetitle[href*="/5959/"]:after {background-image:url(http://i.imgur.com/gUpJ9Xb.jpg);}
.animetitle[href*="/16472/"]:after {background-image:url(http://i.imgur.com/DR2pQ1P.jpg);}
.animetitle[href*="/18691/"]:after {background-image:url(http://i.imgur.com/tGRXz42.jpg);}
.animetitle[href*="/30460/"]:after {background-image:url(http://i.imgur.com/xgt02aH.jpg);}
.animetitle[href*="/16187/"]:after {background-image:url(http://i.imgur.com/fkEy6xR.jpg);}
.animetitle[href*="/24357/"]:after {background-image:url(http://i.imgur.com/vkeqDcu.jpg);}
.animetitle[href*="/29705/"]:after {background-image:url(http://i.imgur.com/HC9Cmsd.jpg);}
.animetitle[href*="/15537/"]:after {background-image:url(http://i.imgur.com/R0yf2D6.jpg);}
.animetitle[href*="/23479/"]:after {background-image:url(http://i.imgur.com/iSibaaI.jpg);}
.animetitle[href*="/368/"]:after {background-image:url(https://i.imgur.com/tApecW6.png);}
.animetitle[href*="/972/"]:after {background-image:url(https://i.imgur.com/GLjHW3n.png);}
.animetitle[href*="/2873/"]:after {background-image:url(https://files.catbox.moe/xpgmrt.jpg);}
.animetitle[href*="/5347/"]:after {background-image:url(https://i.imgur.com/SdmmYb5.png);}
.animetitle[href*="/1401/"]:after {background-image:url(https://i.imgur.com/pkt98SN.png);}
.animetitle[href*="/2852/"]:after {background-image:url(http://i.imgur.com/iwjtDvY.jpg);}
.animetitle[href*="/13595/"]:after {background-image:url(http://i.imgur.com/3N0Iu4B.jpg);}
.animetitle[href*="/11067/"]:after {background-image:url(http://i.imgur.com/nRav5Hz.jpg);}
.animetitle[href*="/6893/"]:after {background-image:url(http://i.imgur.com/8IInSsN.jpg);}
.animetitle[href*="/10380/"]:after {background-image:url(http://i.imgur.com/WZUEsik.jpg);}
.animetitle[href*="/21097/"]:after {background-image:url(http://i.imgur.com/zbI6QQs.jpg);}
.animetitle[href*="/11879/"]:after {background-image:url(http://i.imgur.com/DGa0d2D.jpg);}
.animetitle[href*="/30891/"]:after {background-image:url(http://i.imgur.com/54bXMuU.jpg);}
.animetitle[href*="/9849/"]:after {background-image:url(http://i.imgur.com/tzO8kqa.jpg);}
.animetitle[href*="/7730/"]:after {background-image:url(http://i.imgur.com/msBMLB8.jpg);}
.animetitle[href*="/7411/"]:after {background-image:url(http://i.imgur.com/qnAIr5z.jpg);}
.animetitle[href*="/11065/"]:after {background-image:url(http://i.imgur.com/Il6x03U.jpg);}
.animetitle[href*="/30614/"]:after {background-image:url(http://i.imgur.com/qIdVnOR.jpg);}
.animetitle[href*="/30817/"]:after {background-image:url(http://img7.anidb.net/pics/anime/174736.jpg);}
.animetitle[href*="/29852/"]:after {background-image:url(http://img7.anidb.net/pics/anime/168104.jpg);}
.animetitle[href*="/25877/"]:after {background-image:url(http://img7.anidb.net/pics/anime/160433.jpg);}
.animetitle[href*="/27879/"]:after {background-image:url(http://img7.anidb.net/pics/anime/162457.jpg);}
.animetitle[href*="/10851/"]:after {background-image:url(http://img7.anidb.net/pics/anime/68274.jpg);}
.animetitle[href*="/30243/"]:after {background-image:url(http://img7.anidb.net/pics/anime/169861.jpg);}
.animetitle[href*="/30658/"]:after {background-image:url(http://img7.anidb.net/pics/anime/172499.jpg);}
.animetitle[href*="/8654/"]:after {background-image:url(http://www.getchu.com/brandnew/685819/c685819package.jpg);}
.animetitle[href*="/29730/"]:after {background-image:url(http://img7.anidb.net/pics/anime/169014.jpg);}
.animetitle[href*="/24273/"]:after {background-image:url(http://www.getchu.com/brandnew/843826/c843826package.jpg);}
.animetitle[href*="/29915/"]:after {background-image:url(http://img7.anidb.net/pics/anime/169009.jpg);}
.animetitle[href*="/30242/"]:after {background-image:url(http://img7.anidb.net/pics/anime/171633.jpg);}
.animetitle[href*="/8111/"]:after {background-image:url(http://img7.anidb.net/pics/anime/42716.jpg);}
.animetitle[href*="/30454/"]:after {background-image:url(http://www.getchu.com/brandnew/853078/c853078package.jpg);}
.animetitle[href*="/30269/"]:after {background-image:url(http://img7.anidb.net/pics/anime/170725.jpg);}
.animetitle[href*="/9308/"]:after {background-image:url(http://www.getchu.com/brandnew/867785/c867785package.jpg);}
.animetitle[href*="/24271/"]:after {background-image:url(http://img7.anidb.net/pics/anime/155299.jpg);}
.animetitle[href*="/30702/"]:after {background-image:url(http://img7.anidb.net/pics/anime/171885.jpg);}
.animetitle[href*="/27363/"]:after {background-image:url(http://img7.anidb.net/pics/anime/160313.jpg);}
.animetitle[href*="/24745/"]:after {background-image:url(http://www.getchu.com/brandnew/828406/c828406sample4.jpg);}
.animetitle[href*="/4502/"]:after {background-image:url(http://img7.anidb.net/pics/anime/13048.jpg);}
.animetitle[href*="/29261/"]:after {background-image:url(http://img7.anidb.net/pics/anime/170673.jpg);}
.animetitle[href*="/20801/"]:after {background-image:url(http://i.imgur.com/BHSHyJA.jpg);}
.animetitle[href*="/20377/"]:after {background-image:url(http://i.imgur.com/RRsmeZ8.jpg);}
.animetitle[href*="/2870/"]:after {background-image:url(http://i.imgur.com/I4ENcRL.jpg);}
.animetitle[href*="/23719/"]:after {background-image:url(http://i.imgur.com/gWXYldk.jpg);}
.animetitle[href*="/11997/"]:after {background-image:url(http://img7.anidb.net/pics/anime/76897.jpg);}
.animetitle[href*="/14991/"]:after {background-image:url(http://i.imgur.com/LLmTbhx.jpg);}
.animetitle[href*="/2867/"]:after {background-image:url(http://i.imgur.com/BILHATZ.jpg);}
.animetitle[href*="/9435/"]:after {background-image:url(http://i.imgur.com/UY3c7oL.jpg);}
.animetitle[href*="/23033/"]:after {background-image:url(http://i.imgur.com/f3EeWO1.jpg);}
.animetitle[href*="/24987/"]:after {background-image:url(http://i.imgur.com/0P9ARyH.jpg);}
.animetitle[href*="/10827/"]:after {background-image:url(http://i.imgur.com/VOP2mbw.jpg);}
.animetitle[href*="/3918/"]:after {background-image:url(http://i.imgur.com/ZVIPfiN.jpg);}
.animetitle[href*="/2413/"]:after {background-image:url(http://i.imgur.com/Dg9l2ju.jpg);}
.animetitle[href*="/19103/"]:after {background-image:url(http://i.imgur.com/Zs3Enhe.jpg);}
.animetitle[href*="/14657/"]:after {background-image:url(http://i.imgur.com/7Hcpxtr.jpg);}
.animetitle[href*="/11969/"]:after {background-image:url(http://i.imgur.com/r85qAWK.jpg);}
.animetitle[href*="/9008/"]:after {background-image:url(http://i.imgur.com/hmr2Cm3.jpg);}
.animetitle[href*="/2396/"]:after {background-image:url(http://i.imgur.com/2eYsVoF.jpg);}
.animetitle[href*="/31810/"]:after {background-image:url(http://i.imgur.com/mdaT5p7.jpg);}
.animetitle[href*="/32667/"]:after {background-image:url(http://i.imgur.com/veiG1Mw.jpg);}
.animetitle[href*="/8293/"]:after {background-image:url(http://i.imgur.com/vN0z0wA.jpg);}
.animetitle[href*="/32833/"]:after {background-image:url(http://i.imgur.com/R56CcFL.jpg);}
.animetitle[href*="/32423/"]:after {background-image:url(http://i.imgur.com/uiGkCzo.jpg);}
.animetitle[href*="/32518/"]:after {background-image:url(http://i.imgur.com/CPdki1u.jpg);}
.animetitle[href*="/18693/"]:after {background-image:url(http://i.imgur.com/6LFI9bP.jpg);}
.animetitle[href*="/32355/"]:after {background-image:url(http://i.imgur.com/gPsuHU0.jpg);}
.animetitle[href*="/10851/"]:after {background-image:url(http://i.imgur.com/QmESlzl.jpg);}
.animetitle[href*="/13221/"]:after {background-image:url(http://i.imgur.com/XSkbALe.jpg);}
.animetitle[href*="/8039/"]:after {background-image:url(http://i.imgur.com/I2bL4cr.jpg);}
.animetitle[href*="/3102/"]:after {background-image:url(http://i.imgur.com/vj6Ynvt.jpg);}
.animetitle[href*="/32620/"]:after {background-image:url(http://i.imgur.com/UqPitxt.jpg);}
.animetitle[href*="/21393/"]:after {background-image:url(http://i.imgur.com/p4X6RT9.jpg);}
.animetitle[href*="/32063/"]:after {background-image:url(http://i.imgur.com/EfdtZgF.jpg);}
.animetitle[href*="/31886/"]:after {background-image:url(http://i.imgur.com/osmshFV.jpg);}
.animetitle[href*="/32405/"]:after {background-image:url(http://i.imgur.com/2LQqhHD.jpg);}
.animetitle[href*="/12059/"]:after {background-image:url(http://i.imgur.com/DfWQz9H.jpg);}
.animetitle[href*="/31789/"]:after {background-image:url(https://files.catbox.moe/qjeqw4.jpg);}
.animetitle[href*="/34246/"]:after {background-image:url(https://files.catbox.moe/5wfud4.jpg);}
.animetitle[href*="/3559/"]:after {background-image:url(https://files.catbox.moe/1i31ca.jpg);}
.animetitle[href*="/3939/"]:after {background-image:url(https://files.catbox.moe/jm7jj7.jpg);}
.animetitle[href*="/16642/"]:after {background-image:url(https://files.catbox.moe/1t5jta.jpg);}
.animetitle[href*="/28311/"]:after {background-image:url(https://files.catbox.moe/9xmjyx.jpg);}
.animetitle[href*="/33231/"]:after {background-image:url(https://files.catbox.moe/t9f1cm.jpg);}
.animetitle[href*="/33322/"]:after {background-image:url(https://files.catbox.moe/p4opyr.jpg);}
.animetitle[href*="/33962/"]:after {background-image:url(https://files.catbox.moe/aw2w3y.jpg);}
.animetitle[href*="/33981/"]:after {background-image:url(https://files.catbox.moe/dok4y1.jpg);}
.animetitle[href*="/34388/"]:after {background-image:url(https://files.catbox.moe/j43yxz.jpg);}
.animetitle[href*="/34747/"]:after {background-image:url(https://files.catbox.moe/y28guv.jpg);}
.animetitle[href*="/35028/"]:after {background-image:url(https://files.catbox.moe/k10glp.jpg);}
.animetitle[href*="/35178/"]:after {background-image:url(https://files.catbox.moe/iwq6xa.jpg);}
.animetitle[href*="/35498/"]:after {background-image:url(https://files.catbox.moe/8pvxzn.jpg);}
.animetitle[href*="/35512/"]:after {background-image:url(https://files.catbox.moe/ji38rg.jpg);}
.animetitle[href*="/35581/"]:after {background-image:url(https://files.catbox.moe/3ikgqp.jpg);}
.animetitle[href*="/33393/"]:after {background-image:url(https://files.catbox.moe/05gznh.jpg);}
.animetitle[href*="/9322/"]:after {background-image:url(https://files.catbox.moe/zcpe40.jpg);}
.animetitle[href*="/33505/"]:after {background-image:url(https://files.catbox.moe/nevz3j.jpg);}
.animetitle[href*="/34107/"]:after {background-image:url(https://files.catbox.moe/mofzmi.jpg);}
.animetitle[href*="/12055/"]:after {background-image:url(https://files.catbox.moe/upal16.jpg);}
.animetitle[href*="/33125/"]:after {background-image:url(https://files.catbox.moe/23tjzu.jpg);}
.animetitle[href*="/18039/"]:after {background-image:url(https://files.catbox.moe/acuvix.jpg);}
.animetitle[href*="/31518/"]:after {background-image:url(https://files.catbox.moe/iwxxfb.jpg);}
.animetitle[href*="/31117/"]:after {background-image:url(https://files.catbox.moe/km2mpw.jpg);}
.animetitle[href*="/31397/"]:after {background-image:url(https://files.catbox.moe/q301lk.jpg);}
.animetitle[href*="/31401/"]:after {background-image:url(http://img7.anidb.net/pics/anime/176278.jpg);}
.animetitle[href*="//"]:after {background-image:url();}
.animetitle[href*="//"]:after {background-image:url();}
.animetitle[href*="//"]:after {background-image:url();}
.animetitle[href*="//"]:after {background-image:url();}
.animetitle[href*="//"]:after {background-image:url();}
.animetitle[href*="//"]:after {background-image:url();}
.animetitle[href*="//"]:after {background-image:url();}
.animetitle[href*="//"]:after {background-image:url();}
.animetitle[href*="//"]:after {background-image:url();}
.animetitle[href*="//"]:after {background-image:url();}
.animetitle[href*="//"]:after {background-image:url();}
.animetitle[href*="//"]:after {background-image:url();}
.animetitle[href*="//"]:after {background-image:url();}
.animetitle[href*="//"]:after {background-image:url();}
