.animetitle[href*="/25132/"]:after {background-image:url(http://i.imgur.com/7SgokZj.png);}
.animetitle[href*="/86337/"]:after {background-image:url(http://i.imgur.com/XQkR79s.jpg);} /*Black Clover*/
.animetitle[href*="/26/"]:after {background-image:url(http://i.imgur.com/QbSgGtA.png);}
.animetitle[href*="/44485/"]:after {background-image:url(http://i.imgur.com/n0yGXLf.png);}
.animetitle[href*="/35573/"]:after {background-image:url(http://i.imgur.com/hLFNYnn.jpg);}
.animetitle[href*="/873/"]:after {background-image:url(http://i.imgur.com/zLSn0FZ.jpg);}
.animetitle[href*="/23390/"]:after {background-image:url(http://i.imgur.com/PPihCyO.jpg);}
.animetitle[href*="/33327/"]:after {background-image:url(http://i.imgur.com/EgKTFiu.png);} /*Tokyo Ghoul*/
.animetitle[href*="/8144/"]:after {background-image:url(http://i.imgur.com/X7PoSyH.jpg);}
.animetitle[href*="/19007/"]:after {background-image:url(http://i.imgur.com/YXtQlvi.png);}
.animetitle[href*="/158/"]:after {background-image:url(http://i.imgur.com/NTGrJs8.png);}
.animetitle[href*="/45597/"]:after {background-image:url(http://i.imgur.com/whYc2vE.png);}
.animetitle[href*="/7627/"]:after {background-image:url(http://i.imgur.com/x3MbyRb.png);}
.animetitle[href*="/669/"]:after {background-image:url(http://i.imgur.com/2pAqmXi.jpg);}
.animetitle[href*="/30/"]:after {background-image:url(http://i.imgur.com/J57rNSj.png);}
.animetitle[href*="/21479/"]:after {background-image:url(http://i.imgur.com/EiaxGNs.png);}
.animetitle[href*="/89734/"]:after {background-image:url(http://i.imgur.com/7km8WKS.jpg);} /*Dragon Ball Super*/
.animetitle[href*="/24294/"]:after {background-image:url(http://i.imgur.com/8AtTrv6.png);}
.animetitle[href*="/13492/"]:after {background-image:url(http://i.imgur.com/cGXZej5.jpg  );} /*Blue Exorcist*/
.animetitle[href*="/2/"]:after {background-image:url(http://i.imgur.com/Z3gqpPo.jpg);}
.animetitle[href*="/747/"]:after {background-image:url(http://i.imgur.com/QxcqkcI.jpg);} /*Blood+*/
.animetitle[href*="/933/"]:after {background-image:url(http://i.imgur.com/GsL5x3U.png);}
.animetitle[href*="/34377/"]:after {background-image:url(http://i.imgur.com/FdSfRnY.png);}
.animetitle[href*="/24692/"]:after {background-image:url(http://i.imgur.com/QgICwWY.png);}
.animetitle[href*="/18619/"]:after {background-image:url(http://i.imgur.com/R0HtDU0.png);}
.animetitle[href*="/34127/"]:after {background-image:url(http://i.imgur.com/BiZScYs.png);}
.animetitle[href*="/40175/"]:after {background-image:url(http://i.imgur.com/VD8OoWE.jpg);} /*Magical Girl Apocalypse*/
.animetitle[href*="/7887/"]:after {background-image:url(http://i.imgur.com/UI52Ha5.jpg);} /*Toriko*/
.animetitle[href*="/65685/"]:after {background-image:url(http://i.imgur.com/Pb1eA5M.png);}
.animetitle[href*="/81681/"]:after {background-image:url(http://i.imgur.com/ekoCc12.jpg);} /*Plunderer*/
.animetitle[href*="/36213/"]:after {background-image:url(http://i.imgur.com/kGgyCaB.jpg);}
.animetitle[href*="/14790/"]:after {background-image:url(http://i.imgur.com/4Q8Y1I6.jpg);}
.animetitle[href*="/14018/"]:after {background-image:url(http://i.imgur.com/LQMzFKq.jpg);}
.animetitle[href*="/91731/"]:after {background-image:url(http://i.imgur.com/mIqs8EC.jpg);} /*Smokin Parade*/
.animetitle[href*="/91037/"]:after {background-image:url(http://i.imgur.com/mcSLBLv.jpg);}
.animetitle[href*="/81117/"]:after {background-image:url(http://i.imgur.com/jypMrGz.jpg);} /*Tokyo Ghoul RE*/
.animetitle[href*="/93180/"]:after {background-image:url(http://i.imgur.com/8qOj8oQ.jpg);}
.animetitle[href*="/75989/"]:after {background-image:url(http://i.imgur.com/bVb0kZd.jpg);} /*My Hero Academia*/
.animetitle[href*="/44347/"]:after {background-image:url(http://i.imgur.com/hxTdPhK.jpg);} /*One Punch Man*/
/*.animetitle[href*="/44347/"]:after {background-image:url(http://i.imgur.com/aL7r19Z.jpg);} One Punch Man*/
.animetitle[href*="/78943/"]:after {background-image:url(http://i.imgur.com/XiK4DzY.jpg);}
.animetitle[href*="/25297/"]:after {background-image:url(http://i.imgur.com/M3wy8ON.jpg);}
.animetitle[href*="/671/"]:after {background-image:url(http://i.imgur.com/k56tvZK.jpg);} /*To Love Ru*/
.animetitle[href*="/36933/"]:after {background-image:url(http://i.imgur.com/rZYFO0i.jpg);}
.animetitle[href*="/68273/"]:after {background-image:url(http://i.imgur.com/JshpKH3.jpg);}
.animetitle[href*="/39325/"]:after {background-image:url(http://i.imgur.com/Je3FDso.jpg);} /*Erased*/
.animetitle[href*="/51025/"]:after {background-image:url(http://i.imgur.com/GozxciK.jpg);} /*Absolute Duo*/
.animetitle[href*="/49865/"]:after {background-image:url(http://i.imgur.com/Po6Ie0c.jpg);} /*Ajin*/
.animetitle[href*="/4571/"]:after {background-image:url(http://i.imgur.com/j4XPIUW.jpg);} /*Snow White*/
.animetitle[href*="/24705/"]:after {background-image:url(http://i.imgur.com/1CNZJaG.jpg);} /*Flowers of Evil*/
.animetitle[href*="/52267/"]:after {background-image:url(http://i.imgur.com/FENRV9I.jpg);} /*Riddle Story of Devil*/
.animetitle[href*="/1101/"]:after {background-image:url(http://i.imgur.com/V7hglM8.jpg);} /*Akumetsu*/
.animetitle[href*="/219/"]:after {background-image:url(http://i.imgur.com/jRk3N4c.jpg);} /*Alive*/
.animetitle[href*="/39883/"]:after {background-image:url(http://i.imgur.com/038F0zb.jpg);} /*Assassination Classroom*/
.animetitle[href*="/19555/"]:after {background-image:url(http://i.imgur.com/DlVikI0.jpg);} /*See Me After Class*/
.animetitle[href*="/21111/"]:after {background-image:url(http://i.imgur.com/nVVDezB.jpg);} /*Arachnid*/
.animetitle[href*="/39139/"]:after {background-image:url(http://i.imgur.com/bwUVpAX.jpg);} /*Fort of Apocalypse*/
.animetitle[href*="/70/"]:after {background-image:url(http://i.imgur.com/JTrvda8.jpg);} /*Ubel Blatt*/
.animetitle[href*="/12295/"]:after {background-image:url(http://i.imgur.com/CtjyaiK.jpg);} /*Baka and Test*/
.animetitle[href*="/9711/"]:after {background-image:url(http://i.imgur.com/VH9rX0Y.jpg);} /*Bakuman.*/
.animetitle[href*="/17051/"]:after {background-image:url(http://i.imgur.com/zxmCF0m.jpg);} /*Barakamon*/
.animetitle[href*="/42275/"]:after {background-image:url(http://i.imgur.com/2gjHBWE.jpg);} /*Blade Play*/
.animetitle[href*="/15834/"]:after {background-image:url(http://i.imgur.com/ui6vsV4.jpg);} /*Cheers*/
.animetitle[href*="/24/"]:after {background-image:url(http://i.imgur.com/SvpX7XG.jpg);} /*D.Gray-man*/
.animetitle[href*="/3986/"]:after {background-image:url(http://i.imgur.com/SWwnfJn.jpg);} /*Deadman Wonderland*/
.animetitle[href*="/21/"]:after {background-image:url(http://i.imgur.com/hzNTGt0.jpg);} /*Death Note*/
.animetitle[href*="/70391/"]:after {background-image:url(http://i.imgur.com/OFQM9Bh.jpg);} /*Deathtopia*/
.animetitle[href*="/70941/"]:after {background-image:url(http://i.imgur.com/LhN0Dzo.jpg);} /*Domestic na Kanojo // Dome x Kano*/
.animetitle[href*="/5293/"]:after {background-image:url(http://i.imgur.com/ofsFc5t.jpg);} /*Doubt*/
.animetitle[href*="/72303/"]:after {background-image:url(http://i.imgur.com/vHtxmGo.jpg);} /*Soul Land*/
.animetitle[href*="/49361/"]:after {background-image:url(http://i.imgur.com/ILax2qG.jpg);} /*Dragons Rioting*/
.animetitle[href*="/56743/"]:after {background-image:url(http://i.imgur.com/LdO0RaS.jpg);} /*Is It Wrong to Try to Pick Up Girls in a Dungeon? / Light Novel*/
.animetitle[href*="/57239/"]:after {background-image:url(http://i.imgur.com/3sJtvTN.jpg);} /*Is It Wrong to Try to Pick Up Girls in a Dungeon? Manga*/
.animetitle[href*="/25/"]:after {background-image:url(http://i.imgur.com/rfJPb8Y.jpg);} /*Fullmetal Alchemist*/
.animetitle[href*="/88110/"]:after {background-image:url(http://i.imgur.com/tpNBI1w.jpg);} /*Fate stay night: Heaven's Feel*/
.animetitle[href*="/33005/"]:after {background-image:url(http://i.imgur.com/EphWJ1V.jpg);} /*Fate Apocrypha*/
.animetitle[href*="/12586/"]:after {background-image:url(http://i.imgur.com/jSsgUyW.jpg);} /*Cage of Eden*/
.animetitle[href*="/12114/"]:after {background-image:url(http://i.imgur.com/I0R73vl.jpg);} /*EL EL*/
.animetitle[href*="/67019/"]:after {background-image:url(http://i.imgur.com/ePU3Tmh.jpg);} /*Fuuka*/
.animetitle[href*="/55163/"]:after {background-image:url(http://i.imgur.com/llnSaKx.jpg);} /*School-Live!*/
.animetitle[href*="/14582/"]:after {background-image:url(http://i.imgur.com/mvk9nRu.jpg);} /*Gamaran*/
.animetitle[href*="/24903/"]:after {background-image:url(http://i.imgur.com/JFejWwf.jpg);} /*Gangsta*/
.animetitle[href*="/564/"]:after {background-image:url(http://i.imgur.com/3YwXvY8.jpg);} /*Gantz*/
.animetitle[href*="/94896/"]:after {background-image:url(http://i.imgur.com/LxrmdFg.jpg);} /*Infection*/
.animetitle[href*="/98270/"]:after {background-image:url(http://i.imgur.com/mishHrN.jpg);} /*Fire Punch*/
.animetitle[href*="/43661/"]:after {background-image:url(http://i.imgur.com/rvw6IRH.jpg);} /*Seraph of the End*/
.animetitle[href*="/401/"]:after {background-image:url(http://i.imgur.com/M2J3Cwb.jpg);} /*Parasyte*/
.animetitle[href*="/39281/"]:after {background-image:url(http://i.imgur.com/UxdZ02U.jpg);} /*Gun x Clover*/
.animetitle[href*="/65647/"]:after {background-image:url(http://i.imgur.com/8q80H30.jpg);} /*Green Worldz*/
.animetitle[href*="/45275/"]:after {background-image:url(http://i.imgur.com/RTMusS2.jpg);} /*Girls of the Wild's*/
.animetitle[href*="/65319/"]:after {background-image:url(http://i.imgur.com/8yzoGrx.jpg);} /*Girl May Kill*/
.animetitle[href*="/5911/"]:after {background-image:url(http://i.imgur.com/wWjdLxM.jpg);} /*Freezing*/
.animetitle[href*="/63849/"]:after {background-image:url(http://i.imgur.com/g7MnSL8.jpg);} /*Peephole*/
.animetitle[href*="/10010/"]:after {background-image:url(http://i.imgur.com/5pgJaz3.jpg);} /*Beelzebub*/
.animetitle[href*="/85173/"]:after {background-image:url(http://i.imgur.com/U2qtYcs.jpg);} /*Happiness*/
.animetitle[href*="/75991/"]:after {background-image:url(http://i.imgur.com/lIVQDcV.jpg);} /*HareKon*/
.animetitle[href*="/36719/"]:after {background-image:url(http://i.imgur.com/h4WGbIY.jpg);} /*The Devil Is a Part-Timer! LIGHT NOVEL*/
.animetitle[href*="/36723/"]:after {background-image:url(http://i.imgur.com/7WDCv8Z.jpg);} /*The Devil Is A Part-timer! MANGA*/
.animetitle[href*="/43415/"]:after {background-image:url(http://i.imgur.com/doLRsDm.jpg);} /*HIME-GOTO: uniforms at the age of nineteen*/
.animetitle[href*="/32097/"]:after {background-image:url(http://i.imgur.com/nboB4iw.jpg);} /*Chaika: The Coffin Princess*/
.animetitle[href*="/42451/"]:after {background-image:url(http://i.imgur.com/lllMifa.jpg);} /*Horimiya*/
.animetitle[href*="/56249/"]:after {background-image:url(http://i.imgur.com/RDVhZJQ.jpg);} /*Hundred*/
.animetitle[href*="/14440/"]:after {background-image:url(http://i.imgur.com/N1STp5E.jpg);} /*I Am a Hero*/
.animetitle[href*="/16688/"]:after {background-image:url(http://i.imgur.com/9d04pTl.jpg);} /*Ibitsu*/
.animetitle[href*="/33031/"]:after {background-image:url(http://i.imgur.com/jWUJ0NI.jpg);} /*Alice in Borderland*/
.animetitle[href*="/39839/"]:after {background-image:url(http://i.imgur.com/8dfG1LZ.jpg);} /*In Bura!*/
.animetitle[href*="/91656/"]:after {background-image:url(http://i.imgur.com/Ffv4D77.jpg);} /*Gun-Ota / When a Gun Nerd Is Reincarnated to a World of Magic, He Established a Harem army with Modern Weapons!?*/
.animetitle[href*="/89737/"]:after {background-image:url(http://i.imgur.com/tAHlnjz.jpg);} /*How to Build a Dungeon: Book of the Demon King*/
.animetitle[href*="/89594/"]:after {background-image:url(http://i.imgur.com/C4AH3ho.jpg);} /*A classmate is a princess knight!*/
.animetitle[href*="/96582/"]:after {background-image:url(http://i.imgur.com/8K15zn5.jpg);} /*Yuuna of Yuragi Manor / Yuragisou no Yuuna-san*/
.animetitle[href*="/97071/"]:after {background-image:url(http://i.imgur.com/XUjzt6f.jpg);} /*Millennium War Aigis: Bonds of the Hero*/
.animetitle[href*="/98752/"]:after {background-image:url(http://i.imgur.com/vWzu0bU.jpg);} /*World's End Harem*/
.animetitle[href*="/16815/"]:after {background-image:url(http://i.imgur.com/hK0ToEc.jpg);} /*Itsuwaribito*/
.animetitle[href*="/12336/"]:after {background-image:url(http://i.imgur.com/Q4IZdr8.jpg);} /*Maria the Virgin Witch*/
.animetitle[href*="/8483/"]:after {background-image:url(http://i.imgur.com/99TV4Ya.jpg);} /*A Town Where You Live*/
.animetitle[href*="/763/"]:after {background-image:url(http://i.imgur.com/lSaCuXZ.jpg);} /*Lilim Kiss*/
.animetitle[href*="/13290/"]:after {background-image:url(http://i.imgur.com/sHQTJzw.jpg);} /*No Longer Human*/
.animetitle[href*="/24836/"]:after {background-image:url(http://i.imgur.com/UpBGC0J.jpg);} /*King's Game*/
.animetitle[href*="/12985/"]:after {background-image:url(http://i.imgur.com/5Rsz5yL.jpg);} /*Princess Lucia*/
.animetitle[href*="/22986/"]:after {background-image:url(http://i.imgur.com/OOfjtSW.jpg);} /*Gray And Wonder Around Her*/
.animetitle[href*="/15189/"]:after {background-image:url(http://i.imgur.com/ANK4UsY.jpg);} /*Seishun Pop!*/
.animetitle[href*="/29931/"]:after {background-image:url(http://i.imgur.com/MrB7iMf.jpg);} /*Uwa-Koi*/
.animetitle[href*="/656/"]:after {background-image:url(http://i.imgur.com/HyekSgT.jpg);} /*Vagabond*/
.animetitle[href*="/48151/"]:after {background-image:url(http://i.imgur.com/IRfkaG9.jpg);} /*World Trigger*/
.animetitle[href*="/35003/"]:after {background-image:url(http://i.imgur.com/k20g7Sb.jpg);} /*Yamada-kun and the Seven Witches*/
.animetitle[href*="/22519/"]:after {background-image:url(http://i.imgur.com/SZE9Lmk.jpg);} /*To Love Ru Darknss*/
.animetitle[href*="/45996/"]:after {background-image:url(http://i.imgur.com/Zw2ThmV.jpg);} /*Hunter x Hunter: Kurapika Memories*/
.animetitle[href*="/92377/"]:after {background-image:url(http://i.imgur.com/GNXmNhk.jpg);} /*Akame ga Kill! Volume 1.5*/
.animetitle[href*="/67121/"]:after {background-image:url(http://i.imgur.com/U4CspE9.jpg);} /*King's Game: Origin*/
.animetitle[href*="/100128/"]:after {background-image:url(http://i.imgur.com/2192nnA.jpg);} /*The Promised Neverland*/
.animetitle[href*="/99982/"]:after {background-image:url(http://i.imgur.com/K44OXcr.jpg);} /*Sahara the Flower Samurai*/
.animetitle[href*="/100708/"]:after {background-image:url(http://i.imgur.com/auhiu7K.jpg);} /*Love Rush*/
.animetitle[href*="/100876/"]:after {background-image:url(http://i.imgur.com/9FYTLXF.jpg);} /*Red Sprite*/
.animetitle[href*="/102652/"]:after {background-image:url(http://i.imgur.com/Fry1lKG.jpg);} /*Demon's Plan*/
.animetitle[href*="/96792/"]:after {background-image:url(http://i.imgur.com/iRV6vBs.jpg);} /*Kimetsu no Yaiba*/
.animetitle[href*="/45757/"]:after {background-image:url(http://i.imgur.com/C0wiJOF.jpg);} /*Food Wars: Shokugeki no Soma*/
.animetitle[href*="/98720/"]:after {background-image:url(http://i.imgur.com/ZT6Pcxi.jpg);} /*Goblin Slayer*/
.animetitle[href*="/102343/"]:after {background-image:url(http://i.imgur.com/KR6V1Dv.jpg);} /*To You, the Immortal*/
.animetitle[href*="/93753/"]:after {background-image:url(http://i.imgur.com/Shi4hwL.jpg);} /*The Case Study of Vanitas*/
.animetitle[href*="/90125/"]:after {background-image:url(http://i.imgur.com/Cng5nw0.jpg);} /*Kaguya Wants to be Confessed To: The Geniuses' War of Love and Brains*/
.animetitle[href*="/3031/"]:after {background-image:url(http://i.imgur.com/1X4xVcj.jpg);} /*Pandora Hearts*/
.animetitle[href*="/56805/"]:after {background-image:url(http://i.imgur.com/MtOND91.jpg);} /*A Silent Voice*/
.animetitle[href*="/23634/"]:after {background-image:url(http://i.imgur.com/z3c82iu.jpg);} /*Will You Do as I Say?*/
.animetitle[href*="/101829/"]:after {background-image:url(http://i.imgur.com/I2vJgK0.jpg);} /*Amalgam of Distortion*/
.animetitle[href*="/57015/"]:after {background-image:url(http://i.imgur.com/jbEbuaW.jpg);} /*My Monster Secret: "Actually, I am..."*/
.animetitle[href*="/12/"]:after {background-image:url(http://i.imgur.com/LsF9jbz.jpg);} /*Bleach*/
.animetitle[href*="/35243/"]:after {background-image:url(http://i.imgur.com/UfiGbs5.jpg);} /*Haikyuu*/
.animetitle[href*="/13/"]:after {background-image:url(http://i.imgur.com/aqMtObO.jpg);} /*One Piece */
.animetitle[href*="/79061/"]:after {background-image:url(http://i.imgur.com/fS0tfE4.jpg);} /*Hinomaru-Zumou*/
.animetitle[href*="/31499/"]:after {background-image:url(http://i.imgur.com/XiiD2i7.jpg);} /*Nisekoi: False Love*/
.animetitle[href*="/42/"]:after {background-image:url(http://i.imgur.com/yDwuRlx.jpg);} /*Dragon Ball*/
.animetitle[href*="/11/"]:after {background-image:url(http://i.imgur.com/kofp71l.jpg);} /*Naruto*/
.animetitle[href*="/430/"]:after {background-image:url(http://i.imgur.com/lBQu8ee.jpg);} /*Suzuka*/
.animetitle[href*="/104314/"]:after {background-image:url(http://i.imgur.com/GEXvMGX.jpg);} /*Jagaaaaaan*/
.animetitle[href*="/102782/"]:after {background-image:url(http://i.imgur.com/viN2aXY.jpg);} /*Ole Golazo*/
.animetitle[href*="/103890/"]:after {background-image:url(http://i.imgur.com/I4OoOxl.jpg);} /*We Can't Study*/
.animetitle[href*="/103900/"]:after {background-image:url(http://i.imgur.com/SznNDwG.jpg);} /*U19*/
.animetitle[href*="/103464/"]:after {background-image:url(http://i.imgur.com/fqLewIJ.jpg);} /*Raise Kamika*/
.animetitle[href*="/103902/"]:after {background-image:url(http://i.imgur.com/OIKHiPY.jpg);} /*Hungry Marie*/
.animetitle[href*="/103901/"]:after {background-image:url(http://i.imgur.com/Odqdzw0.jpg);} /*Demon Prince Poro's Diaries*/
.animetitle[href*="/84693/"]:after {background-image:url(http://i.imgur.com/RHRCvA0.jpg);} /*Niku Kyu!*/
.animetitle[href*="/104271/"]:after {background-image:url(http://i.imgur.com/p6f6c5I.jpg);} /*Chi no Wadachi / Blood on the Tracks*/
.animetitle[href*="/104322/"]:after {background-image:url(http://i.imgur.com/72sroVD.jpg);} /*Risou no Himo Seikatsu / An Ideal Lazy Life*/
.animetitle[href*="/103897/"]:after {background-image:url(http://i.imgur.com/XM1xDGe.jpg);} /*Dr. Stone*/
.animetitle[href*="/105029/"]:after {background-image:url(http://i.imgur.com/dgQ7NSS.jpg);} /*Parallel Paradise*/
.animetitle[href*="/14369/"]:after {background-image:url(http://i.imgur.com/qdoZ4zI.jpg);} /*Tsugumomo*/
.animetitle[href*="/21860/"]:after {background-image:url(http://i.imgur.com/Ax3xJK1.jpg);} /*Mayo Chiki!*/
.animetitle[href*="/103939/"]:after {background-image:url(http://i.imgur.com/Y9KXvEv.jpg);} /*Aharen-san wa Hakarenai*/
.animetitle[href*="/107480/"]:after {background-image:url(http://i.imgur.com/7cm9ZcO.jpg);} /*Cross Account*/
.animetitle[href*="//"]:after {background-image:url();} /**/
.animetitle[href*="//"]:after {background-image:url();} /**/
.animetitle[href*="//"]:after {background-image:url();} /**/
.animetitle[href*="//"]:after {background-image:url();} /**/
