/*
[id^="tagLinks"] {

    display: block;
    font-size: 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position:fixed;
    right: 0;
    width: 245px;
    z-index: 2;
    left:80%;
    top: 565px;
}

[id^="tagLinks"] a {
    font-size:9.5px;
    background-color: rgba(0,0,0,0.85);
    border: 1px solid #000000;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    height: 20px;
    line-height: 15px;
    margin-bottom: 5px;
    margin-right: 5px;
    max-width: 217px;
    overflow: hidden;
    padding: 0 10px;
    vertical-align: top;
    white-space: nowrap;
}
[id^="tagLinks"] a:first-child {
    background-color: rgba(102,0,102,0.85);
    border: 1px solid #660066;
}

table:hover .animetitle::after, table:hover [id^="tagLinks"], table:hover + .hide {
    margin-right: 0;
    opacity: 1;
}
.td1:last-child, .td2:last-child, .table_header:last-child{
    width: 30px;
}


.table_header:hover:nth-child(6){
    display: table-cell!important;
}

.table_header:nth-child(6) > strong, .table_header:hover:nth-child(6){
    display:none;
}

*/

[id^="tagLinks"] {
    margin: inherit !important;
    left: inherit !important;

    display: block;
    font-size: 0;
    opacity: 0;
    overflow: hidden;

    position:fixed;
    right: 0px !important; 
    width: 309px;
    z-index: 2;
    left:0;
    top: 523px;
   -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    left: calc(((100% - 505px)/2) + 619px) !important;

}

[id^="tagLinks"] a {
    font-size:9px;
    background-color: rgba(0,0,0,0.85);
    border: 1px solid #000000;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    height: 20px;
    line-height: 15px;
    margin-bottom: 3px;
    margin-right: 3px;
    max-width: 217px;
    overflow: hidden;
    padding: 0 4px;
    vertical-align: top;
    white-space: nowrap;
}
/*
[id^="tagLinks"] a:first-child {
    background-color: rgba(97, 25, 39, 0.85);
    border: 1px solid #611927;
}
[id^="tagLinks"] a:last-child {
    background-color: rgba(97, 25, 39, 0.85);
    border: 1px solid #611927;
}*/


table:hover .animetitle::after, table:hover [id^="tagLinks"], table:hover + .hide {
    margin-right: 0;
    opacity: 1;
}
.td1:last-child, .td2:last-child, .table_header:last-child{
    width: 1px;
}


.table_header:hover:nth-child(6){
    display: table-cell!important;
}

.table_header:nth-child(6) > strong, .table_header:hover:nth-child(6){
    display:none;
}
